/*Position du logo*/
.logo {
    margin-top: 55px;
    margin-left: 77px;
}

/*Position de l'image correspondant au premier côté arrondi */
h1:first-of-type {
    top: 250px;
}
/* Section introduction*/
.intro h2 {
    top: 280px;
    font-style: italic;
    font-size: 20px;
    width: 318px;
    vertical-align: center;
    margin-left: 42px;
}
#lilblack_rect {
    width: 318px;
    height: 65px;
    background-color: #000000;
    top: 612px;
    padding: 2px;
    position: absolute;
    margin-left: 28.5px;
    margin-right: 28.5px;
    border-width: 4px;
    border-color: white;
    z-index: 2;
}
.redarrow {
    top: 701px;
    position: absolute;
    margin-left: 140px;
    margin-right: auto;
    z-index: 3;
}
.intro p {
    top: 570px;
    width: 291px;
    margin-left: auto;
    margin-right: auto;
}

/*Section article 1*/
.articleun h3 {
    top: 853px;
    margin-left: 42px;
}

.affichen1 {
    top: 1621px;
    position: absolute;
    margin-left: 42px;
    margin-right: auto;
    z-index: 3;
}

.articleun p {
    top: 1157px;
    margin-left: 42px;
    margin-right: 42px;
}

/*Section article 2*/
.articledeux h3 {
    top: 1371px;
    margin-left: 42px;
}
.oquantique {
    top: 2285px;
    position: absolute;
    margin-left: 42px;
    margin-right: auto;
    z-index: 3;
}

.articledeux p {
    top: 1645px;
    margin-left: 42px;
}

/*Section article 3*/
.articletrois h3 {
    top: 1783px;
    margin-left: 42px;
}

.solution {
    top: 2803px;
    position: absolute;
    margin-left: 55px;
    margin-right: auto;
    z-index: 3;
}

.articletrois p {
    top: 2117px;
    margin-left: 42px;
    margin-right: 42px;
}

/*Footer*/
.gmail {
    top: 3295px;
    position: absolute;
    margin-left: 103px;
    margin-right: auto;
    z-index: 3;
}

.mmi {
    top: 3290px;
    position: absolute;
    margin-left: 242px;
    z-index: 3;
}

.footer h3 {
    font-family: 'Share Tech', sans-serif;
    font-size: 15px;
    top: 2230px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    text-align: center;
}

.footer p {
    font-family: 'Share Tech', sans-serif;
    font-size: 15px;
    top: 2230px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}
/*Mise en place des parties arrondies*/
.aaccueil1 {
    top: 434px;
    z-index: 1;
    display: flex;
    position: absolute;
}

.aaccueil2  {
    top: 847px;
    z-index: 2;
    display: flex;
    position: absolute;
}

.aaccueil3  {
    top:  1367px;
    z-index: 2;
    display: flex;
    position: absolute;
}

.aaccueil4  {
    top:  2054px;
    z-index: 2;
    display: flex;
    position: absolute;
}

.aaccueil5  {
    top:  2670px;
    z-index: 2;
    display: flex;
    position: absolute;
}

/*Mise en place des rectangles de fond*/
body {
    background-image: url("../../img/wargames.png ");
    background-position: 0 0 0 0;
    background-repeat: no-repeat;
    background-color: black;
    position: background;
}

#firstblue_rect {
    width: 375px;
    height: 385px;
    background-color: #435C6D;
    top: 546px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#firstblack_rect {
    width: 375px;
    height: 479px;
    background-color: #000000;
    top: 929px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#secondblue_rect {
    width: 375px;
    height: 687px;
    background-color: #435C6D;
    top: 1369px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#secondblack_rect {
    width: 375px;
    height: 571px;
    background-color: #000000;
    top: 2056px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#firstcyan_rect {
    width: 375px;
    height: 555px;
    background-color: #728591;
    top: 2707px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#foot_rect {
    width: 375px;
    height: 140px;
    top: 3262px;
    background-color: #143348;
    display: flex;
    position: absolute;
    z-index: 1;
}