/*Position de l'image correspondant au premier côté arrondi */
h1:first-of-type {
    top: 220px;
}

.intro h2 {
    top: 230px;
    font-style: italic;
    font-size: 20px;
    width: 318px;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
}
#lilblack_rect {
    width: 318px;
    height: 65px;
    background-color: #000000;
    top: 612px;
    padding: 2px;
    position: absolute;
    margin-left: 28.5px;
    margin-right: 28.5px;
    border-width: 4px;
    border-color: white;
    z-index: 2;
}
.redarrow {
    top: 701px;
    position: absolute;
    margin-left: 140px;
    margin-right: auto;
    z-index: 3;
}
.intro p {
    top: 570px;
    width: 291px;
    margin-left: auto;
    margin-right: auto;
}

.articleun h3 {
    top: 813px;
    margin-left: 42px;
}

.affichen1 {
    top: 1624px;
    position: absolute;
    margin-left: 42px;
    margin-right: auto;
    z-index: 3;
}

.articleun p {
    top: 1087px;
    margin-left: 42px;
}

.articledeux h3 {
    top: 2061px;
    margin-left: 42px;
}

.articledeux p {
    top: 2367px;
    margin-left: 42px;
}

.articletrois h3 {
    top: 2573px;
    margin-left: 42px;
}

.articletrois p {
    top: 2934px;
    margin-left: 42px;
}

.aaccueil1 {
    top: 434px;
    z-index: 1;
    display: flex;
    position: absolute;
}

.aaccueil2  {
    top: 847px;
    z-index: 2;
    display: flex;
    position: absolute;
}

.aaccueil3  {
    top:  1367px;
    z-index: 2;
    display: flex;
    position: absolute;
}

.aaccueil4  {
    top:  2054px;
    z-index: 2;
    display: flex;
    position: absolute;
}

#firstblue_rect {
    width: 375px;
    height: 385px;
    background-color: #435C6D;
    top: 546px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#firstblack_rect {
    width: 375px;
    height: 479px;
    background-color: #000000;
    top: 929px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#secondblue_rect {
    width: 375px;
    height: 687px;
    background-color: #435C6D;
    top: 1369px;
    display: flex;
    position: absolute;
    z-index: 1;
}
