/* Mise en page parti À propos*/
.propos {
    height: 982px;
    background: black
}

.propos img {
    margin-top: 85px;
    margin-left: 112px;
}

.propos p {
    padding-top: 100px;
}

.propos h3 {
    top: 130px;
}
/*Section Contact*/
input {
    height: 35px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #00315F;
    color: #00315F;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    background: black;
}

textarea {
    height: 110px;
    width: 300px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #C6DFEA;
    color: black;
}

i {
    margin-right: 10px;
    color: #B5444D;
}

li>p {
    margin: 0;
}

label {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    text-align: left;
}

button {
    padding: 0 0 4px 0;
    border: 0;
    border-radius: 80px;
    text-align: center;
    font-family: 'IBM PLex Mono', monospace;
    text-decoration: none;
    color: #C6DFEA;
    height: 35px;
    width: 150px;
    margin-left: 165px;
    background: #B5444D;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.45);
}

main {
    padding-bottom: 40px;
    background: black;
}
