/*Header*/
.header {
    height: 60px;
    width: 375px;
    background: #B7D7E5;
    position: fixed;
    z-index: 1499;
}


.logo {
    position: fixed;
    z-index: 1500;
    top: 7px;
    margin-left: 11px;
}

header>p {
    position: fixed;
    color: black;
    top: 39px;
    margin-left: 10px;
    font-size: 11px;
    z-index: 1500;
}

