/*Header*/
.header {
    height: 60px;
    width: 375px;
    background: #B7D7E5;
    position: fixed;
    z-index: 1499;
}

.logo {
    position: fixed;
    z-index: 1500;
    top: 7px;
    margin-left: 11px;
}

.header>p {
    position: fixed;
    color: black;
    top: 39px;
    margin-left: 10px;
    font-size: 11px;
    z-index: 1500;
}

/*Footer*/
.footer{
    background: #143348;
    bottom: 0px;
    width: 100%;
    height: 140px;
    padding-top: 10px;
}

.gmail {
    margin-left: 103px;
    margin-right: auto;
    z-index: 3;
    position: absolute;
    padding-top: 23px;
}

.mmi {
    padding-top: 15px;
    margin-left: 242px;
    z-index: 3;
    position: absolute;
}

.footer h3 {
    font-family: 'Share Tech', sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    text-align: center;
}

.footer p {
    font-family: 'Share Tech', sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
}

strong {
    font-weight: bold;
    color: #4DBEA3;
}

