.nav-toggle {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,
.nav-toggle-bar::before,
.nav-toggle-bar::after {
    content: "";
    background-color: black;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
}
.nav-toggle-bar::before {top: -10px;}
.nav-toggle-bar::after {top: 10px;}

#moncercle{
    background: #B7D7E5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
}

/*menu*/
.menu{
    visibility:hidden;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateX(100vw);
    transition: 0.6s;
}

.menu-open .menu{
    visibility: visible;
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;

}
.menu li{
    margin-bottom: 15px;
}
.menu a{
    text-decoration: none;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}