/* Introduction Article 1 */
.introun {
    background: black;
    height: 532px;
}

.affichewg {
    top: 90px;
    margin-left: 44px;
    position: absolute;
}
.introun  h2 {
    text-align: center;
    padding-top: 30px;
}

.aarcticleun1 {
    top: 532px;
    z-index: 2;
    display: flex;
    position: absolute;
}

/* Première partie article 1*/

.factice {
    background: #666666;
    height: 756px;
}

.factice p:first-of-type {
    width: 309px;
    top: 70px;
}

 .factice h3 {
     top: 164px;
 }

.factice p:nth-of-type(2) {
    width: 300px;
    top: 180px;
}

.aarcticleun2 {
    top: 1257px;
    z-index: 2;
    display: flex;
    position: absolute;
}

/* Première partie article 1*/
.factice2 {
    height: 1286px;
    background: black;
}

video {
    border-radius: 8px;
    display: block;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #000;
    padding-top: 20px;
}

.factice2 p:first-of-type {
    top: 80px;
}

.factice2 h3 {
    top: 120px;
}

.factice2 p:nth-of-type(2) {
    top: 160px;
}
.affiche2wg {
    margin-left: 86px;
    padding-top: 190px;
    position: absolute;
}
.aarcticleun3 {
    top: 2574px;
    z-index: 2;
    display: flex;
    position: absolute;
}

/*Partie Conclusion*/
.conclusion {
    background: #728591;
    height: 955px;
}

.conclusion p:first-of-type {
    text-align: center;
    padding-top: 25px;
}

.conclusion h3 {
    padding-top: 50px;
}

.conclusion p {
    padding:  40px 0 40px 0;
}

.aarcticleun4 {
    top: 3482px;
    z-index: 2;
    display: flex;
    position: absolute;
}

/*Partie Galerie*/
.galerie {
    height: 975px;
    background: black;
}

.galerie img {
    position: relative;
    padding: 38px 27px 38px 27px;
}

.galerie p {
    position: absolute;
    padding-top: 75px;
    margin-left: 146.5px;
}

.hackers p {
    position: absolute;
    padding-top: 90px;
    margin-left: 146.5px;
}

.suivant {
    background: #B5444D;
    margin-left: 165px;
    height: 39px;
    width: 159px;
    border-radius: 26px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.suivant a{
    padding-top: 7px;
    height: 32px;
    width: 145px;
    margin-left: 7px;
    border-radius: 26px;
    font-style: bold;
    display: block;
    text-align: center;
    position: relative;
}

.suivant p{
    padding-top: 0;
    margin-left: 0;
}